<div class="container">
  <a href="#" class="edit-data">
    <img src="assets/images/shared/controls/left-card/pen-gray.svg" alt="edit data">
  </a>

  <div class="pictures">
    <img class="avatar" src="assets/images/shared/controls/left-card/avatar.svg" alt="avatar">
    <a href="#" class="edit-button">
      <img class="edit-ellipse" src="assets/images/shared/controls/left-card/ellipse.svg" alt="edit-ellipse">
      <img class="edit-pen" src="assets/images/shared/controls/left-card/pen-white.svg" alt="edit-pen">
    </a>



  </div>

  <div class="data">
    <div class="name-container">
      <div class="name-img">
        <img src="assets/images/shared/controls/left-card/protect.svg" alt="protect">
      </div>
      <span class="name">Cristofer Carder Junior</span>
    </div>

    <div class="statistic-container">
      <div class="stars-collection">
        <div class="star-full" *ngFor="let star of stars">
          <img src="assets/images/shared/controls/left-card/star-red.svg" alt="red star">
        </div>
        <div class="star-half">
          <img src="assets/images/shared/controls/left-card/star-red-white.svg" alt="red-white star">
        </div>
      </div>
      <div class="reviews">
        <span>234 Reviews</span>
      </div>
    </div>

    <div class="description-container">
      <span class="description">{{description}}</span>
    </div>

    <div class="location-container">
      <img src="assets/images/shared/controls/left-card/geo-location.svg" alt="geolocation">
      <span>{{city}}</span>
    </div>
  </div>
</div>
