:host {
  display: block;

  .container {
    width: 395px;
    height: 200px;
    position: relative;
    border-radius: 10px;
    background: #FFFFFF;

    background: green;

    .edit-data {
      position: absolute;
      top: 11px;
      right: 11px;
      width: 18px;
      height: 18px;
    }

    .pictures {
      width: 136px;
      height: 152px;

      // display: inline-block;
      float: left;

      margin: 24px 0 0 24px;

      background-color: yellow;
    }

    .data {
      width: 201px;
      height: 152px;

      float: left;
      margin: 24px 0 0 10px;

      background-color: blue;

      .name-container {
        width: 167px;
        height: 48px;
        position: relative;
        padding-right: 10px;

        .name-img {
          position: absolute;
          top: 0;
          right: 0;
          width: 12px;
          height: 14.67px;
        }

        .name {
          font-family: Barlow, sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
        }
      }

      .statistic-container {
        margin: 8px 0;

        .stars-collection {
          float: left;
          min-width: 100px;

          background-color: pink;

          .star-full {
            margin-right: 4px;
          }

          .star-half {
            margin-right: 16px;
          }

          .star-full, .star-half {
            line-height: 16px;
            float: left;

            img {
              width: 13.33px;
              height: 12.67px;
            }
          }
        }

        .reviews {
          float: left;
          min-width: 49px;
          display: table;

          span {
            display: table-cell;
            vertical-align: middle;
            font-family: Barlow, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 9px;
            line-height: 16px;
            text-decoration-line: underline;
            color: #3C738D;
          }
        }
      }

    }
  }
}
